# Ignore .obj and .ply Mesh files
*.obj
*.ply
test.py
demo_nicp_batch.py
BFM/BFM09_model_info.mat

#### joe made this: http://goel.io/joe

#####=== Python ===#####

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
test_data/*
!test_data/pjanic.obj
!test_data/pjanic.mtl
!test_data/pjan.png
!test_data/test2.ply
!test_data/test2_lm.txt
!test_data/depth_wuhz.mp4